* {
    margin: 0;
    padding: 0;
}

#canvasContainer {
    width:100%; 
    height:70vh; 
    position:relative;
}

#canvas {
    position: absolute;
    background-color: aquamarine; 
    top:0;bottom:0;right:0;left:0; 
    margin:auto; 
}

#buttonContainer {
    text-align: center;
}

#restartButton {
    height: 25px;
    width: 100px;
    background-color: blueviolet;
}